.cartNav{
    align-items: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color:royalblue;
    color: #FBEAEB;
    height: 56px;
    width: 100%;
}
a{
    text-decoration: none;
}


.cartItemImg{
    margin-left: 5px;
}

.cartnavtext{
  color: #FBEAEB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartContainer{
    
    align-items: center;
    text-align: center;
    
}




.cartItemPrice{
    font-size: 15px;
}

.cartSection{
    display:grid;
    grid-template-columns: auto;
    justify-content: space-between;
    text-align: center;
}
.listdata{
    display: flex;  
}

.cartQty{
    width: 50px;
    height: 50px;
}

.listInput{
    display: flex;
}

.listButtons{
    padding: 0;
    margin: 0;
    width: 5%;
}

.emptycart{
    max-width:500px;
   max-height: 100%;
    background-color: lightblue;
    color:coral;
    font-size: 30px;
    text-align: center;
    margin:auto;
    padding: 5px 0px 50px ;

    border-radius: 12px;
}

.emptycart img{
    width:100%;
    width: 400px;
    
}

.grandTotal{
    text-align: center;
    background:lightblue;
    margin: auto;
}

.homebtn{
    text-align: center;
    padding-bottom: 20px;
}

@media screen and(min-width:1080px) {

    .emptycart{
        /* width:auto; */
        height:100%;
        background-color: lightblue;
        color:coral;
        font-size: 30px;
        text-align: center;
        margin:auto;
        padding-top: 5px;
    
        border-radius: 12px;
    }   

    
    
}

@media screen and (min-width:480px) and (max-width:1080px){
    .emptycart{
        font-size: 25px;
        text-align: center;
        margin-top: 100px;
        height:auto;
        width: 80%;
    }
    .emptycart img{
        width: 80%;
        height: auto;
    }
    .homebtn{
        padding-bottom: 20px;
    }

    
}

@media screen and (max-width:480px){
    .emptycart{
        font-size: 20px;
        text-align: center;
        height: 400px;
        width: 80%;
    }
    .emptycart img{
        width: auto;
        height: 200px;
    }
    .homebtn{
        padding-bottom: 20px;
    }
    
    .arrowback{
        font-size: 12px;
    }

    .cartList{
        display: flex;
        justify-content: space-between;
    }
    .listdata{
        display: block; 
        justify-content: space-evenly; 
        flex: 2;
    }
}

