.toolbar{
    background-color: #2F3C7E;
    color: #FBEAEB;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

a{
    color: #FBEAEB;
    text-decoration: none;
}

.logo{
    color: #ff8c00;
    font-size: 25px;
}

.searchContainer{
    width: 80%;
}

.searchbar{
    width: 95%;
}

.cartIcon{
    color: #FBEAEB;
}


@media screen and (min-width:320px) and (max-width:780px){
    .searchContainer{
        margin-left: 10px;
    }
    .searchbar{
        width: 95%;
        
    }
}

@media screen and (max-width:320px){
    .searchContainer{
        margin-left: 10px;
    }
    .searchbar{
        width: 100%;
        
    }
}